@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);
@import "font-awesome/font-awesome";

@import "partials/mixins";
@import "partials/mediaqueries";
@import "partials/variables";
 

.wrap {
  position: relative;
  display: block;
  width: $width;
  height: auto;
  font-size: 18px;
  color: $main_color;
  font-family: $font;
  font-weight: 300;

  @import "partials/globals";
  @import "partials/tables";
  @import "partials/header";
  @import "partials/navigation";

  .gets {
    @extend li;
    background: rgba(0,191,0,.5);
  }

  .getsnot {
    @extend li;
    background: rgba(223,0,0,.5);
  }

  .convertible {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: $container_alignment;
    margin-top: 2em;
    text-align: $text_alignment;

    @import "partials/content";
    @import "partials/sidescreen";

  }
}